<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        Neptune
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="dashboard">Dashboard</a>
      </li>
    </ul>

  </div>
</nav>
