<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="dashboard">
        Neptune
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a ui-sref="dashboard">
          <i class="fa fa-tachometer"></i>
          Dashboard
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="browser">
          <i class="fa fa-hdd-o"></i>
          Browser
        </a>
      </li>
    </ul>

  </div>
</nav>
